<template>
  <div class="footer">
    <div class="footer__wrap container">
      <div class="footer__inner">
        <img src="@/assets/img/footer-img.png" alt="" class="footer__img" />
        <p class="footer__title title-l4">Высокий ассортимент товаров</p>
        <p class="footer__desc">
          Тщательно выбираем и приносим продукты к вам домой, попробуйте iBazar
          и убедитесь
        </p>
        <div class="footer__link-wrap">
          <a href="" class="footer__link"
            ><img
              src="@/assets/img/google-play.svg"
              alt=""
              class="footer__link-icon"
          /></a>
          <a href="" class="footer__link"
            ><img
              src="@/assets/img/app-store.svg"
              alt=""
              class="footer__link-icon"
          /></a>
        </div>
      </div>
      <ul class="footer__link-list">
        <li
          class="footer__link-item"
          v-for="(item, index) in linkArray"
          :key="index"
        >
          <nuxt-link :to="item.link" class="footer__main-link">{{
            item.title
          }}</nuxt-link>
        </li>
      </ul>
      <p class="footer__note">Сделано с 💚</p>
      <p class="footer__note2">Все права защищены, 2022</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      linkArray: [
        {
          title: "Политика конфиденциальности",
          link: "/policy",
        },
        {
          title: "Публичная оферта",
          link: "/public_offer",
        },
        // {
        //   title: "Безопасность платежей",
        //   link: "/payment",
        // },
      ],
    };
  },
};
</script>

<style lang="scss">
.footer {
  &__wrap {
    margin-top: 101px;
    padding-bottom: 40px;
  }

  &__inner {
    background: rgba(103, 197, 122, 0.15);
    border-radius: 40px;
    padding: 120px 40px;
    position: relative;
  }

  &__title {
    max-width: 547px;
  }

  &__desc {
    font-size: 20px;
    color: grey;
    max-width: 479px;
    margin-top: 8px;
  }

  &__link-wrap {
    margin-top: 32px;
    display: flex;
  }

  &__link {
    transition: 0.2s;
    cursor: pointer;
    & + & {
      margin-left: 16px;
    }

    &:focus,
    &:hover {
      transform: scale(1.1);
    }
  }

  &__link-icon {
    display: block;
  }

  &__img {
    position: absolute;
    right: -30px;
    bottom: 0;
  }

  &__link-list {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -60px;
  }

  &__link-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 200px;
    flex-grow: -1;
    margin-left: 60px;
  }

  &__main-link {
    cursor: pointer;
    transition: 0.2s;
    color: #000;

    &:hover,
    &:focus {
      color: #0dc046;
    }
  }

  &__note {
    text-align: center;
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
  }

  &__note2 {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
  }

  @media all and(max-width:1320px) {
    &__img {
      position: static;
      margin-top: -50px;
      margin-right: 30px;
    }

    &__inner {
      padding-top: 0;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__title {
      margin-top: 40px;
      max-width: 100%;
      width: 100%;
    }

    &__desc {
      max-width: 100%;
      width: 100%;
    }
  }

  @media all and(max-width:768px) {
    &__wrap {
      margin-top: 60px;
    }

    &__img {
      margin-top: -30px;
    }

    &__inner {
      padding-left: 12px;
      padding-right: 12px;
      border-radius: 20px;
    }

    &__link-list {
      margin-top: 32px;
      font-size: 16px;
    }
  }
}
</style>
