<template>
  <div class="hero">
    <img src="@/assets/img/mobile-img.png" alt="" class="hero__mobile-img" />
    <div class="hero__wrap">
      <div class="hero__inner">
        <img src="@/assets/img/logo.svg" alt="" class="hero__logo" />
        <div class="hero__info">
          <p class="hero__subtitle">Только свежие продукты в</p>
          <h1 class="hero__title title-l1">Приложении iBazar</h1>
          <div class="hero__link-wrap">
            <a href="" class="hero__link"
              ><img
                src="@/assets/img/google-play.svg"
                alt=""
                class="hero__link-icon"
            /></a>
            <a href="" class="hero__link"
              ><img
                src="@/assets/img/app-store.svg"
                alt=""
                class="hero__link-icon"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.hero {
  &__wrap {
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 50px;
  }

  &__mobile-img {
    display: none;
  }

  &__inner {
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(@/assets/img/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    height: 800px;
    width: 100%;
    position: relative;
    border-radius: 20px;
  }

  &__logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 150px;
    height: 150px;
  }

  &__info {
    padding-top: 287px;
  }

  &__subtitle {
    font-family: "Gilroy", sans-serif;
    font-size: 28px;
    line-height: 33.6px;
  }

  &__title {
    margin-top: 8px;
  }

  &__link-wrap {
    margin-top: 20px;
    display: flex;
  }

  &__link {
    transition: 0.2s;
    cursor: pointer;
    & + & {
      margin-left: 16px;
    }

    &:focus,
    &:hover {
      transform: scale(1.1);
    }
  }

  &__link-icon {
    display: block;
  }

  @media all and(max-width:990px) {
    &__subtitle {
      text-shadow: 1px 1px 1px black;
    }

    &__title {
      text-shadow: 1px 1px 1px black;
    }
  }

  @media all and(max-width:768px) {
    &__wrap {
      padding-left: 16px;
      padding-right: 16px;
    }
    &__inner {
      background-image: none;
      padding-left: 21px;
      padding-right: 21px;
      background: #fbf9f7;
      backdrop-filter: blur(200px);
      height: auto;
      border-radius: 20px;
      position: absolute;
      top: 30px;
      left: 16px;
      width: calc(100% - 32px);
      padding-bottom: 24px;
    }

    &__logo {
      top: 5px;
      left: 50px;
      width: 100px;
      height: 100px;
    }

    &__mobile-img {
      display: block;
      z-index: 2;
      position: relative;
      margin: 0 auto;
      margin-top: -15px;
    }
    &__info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 455px;
    }

    &__subtitle {
      text-shadow: none;
      text-align: center;
      font-size: 16px;
    }

    &__title {
      text-shadow: none;
      text-align: center;
    }
  }

  @media all and(max-width:510px) {
    &__logo {
      width: 80px;
      height: 80px;
      left: 12px;
    }
  }
}
</style>
