<template>
  <div class="list">
    <div class="list__wrap container">
      <ul class="list__list">
        <li class="list__item" v-for="(item, index) in listArray" :key="index">
          <div class="list__info">
            <img
              :src="require(`@/assets/img/${item.number}`)"
              alt=""
              class="list__number"
            />
            <p class="list__title title-l2">{{ item.title }}</p>
            <p class="list__desc">
              {{ item.desc }}
            </p>
            <div class="list__link-wrap" v-if="item.link && item.link2">
              <a :href="item.link" class="list__link"
                ><img
                  src="@/assets/img/google-play.svg"
                  alt=""
                  class="list__link-icon"
              /></a>
              <a :href="item.link2" class="list__link"
                ><img
                  src="@/assets/img/app-store.svg"
                  alt=""
                  class="list__link-icon"
              /></a>
            </div>
          </div>
          <img
            :src="require(`@/assets/img/${item.img}`)"
            alt=""
            class="list__item-img"
          />
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      listArray: [
        {
          number: "number1.svg",
          desc: "Наше приложение доступно в Google Play и App Store. Скачайте бесплатно и начните пользоваться прямо сейчас.",
          title: "Скачивайте приложение",
          link: "/",
          link2: "/",
          img: "girl.png",
        },
        {
          number: "number2.svg",
          desc: "Выберите желаемый товар, добавьте в корзину и оформите заказ. Пару кликов и товары едут к вам.",
          title: "Выбирайте и заказывайте",
          link: "",
          link2: "",
          img: "phone.png",
        },
        {
          number: "number3.svg",
          desc: "После заказа мы доставим продукты в сортированном виде в удобное для вас время.",
          title: "Получите Ваш заказ",
          link: "",
          link2: "",
          img: "img3.png",
        },
      ],
    };
  },
};
</script>

<style lang="scss">
.list {
  background-image: url(@/assets/img/list-bg.png);
  background-repeat: no-repeat;
  background-position: center;

  @media all and(max-width:768px) {
    background-image: url(@/assets/img/list-mobile-bg.png);
    background-position: top center;
  }

  &__wrap {
    max-width: 1340px;
    margin-top: 60px;

    @media all and(max-width:768px) {
      margin-top: 300px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      .list {
        &__info {
          max-width: 642px;
          margin-right: 20px;
        }
      }
    }

    &:nth-child(2) {
      margin-top: 40px;
      .list {
        &__info {
          max-width: 642px;
        }

        &__item-img {
          order: -1;
          margin-right: 20px;
        }
      }
    }

    &:nth-child(3) {
      margin-top: 60px;
      margin-bottom: 80px;
      .list {
        &__info {
          max-width: 576px;
        }

        &__item-img {
          margin-left: 20px;
        }
      }
    }
  }

  &__info {
  }

  &__number {
  }

  &__title {
    margin-top: 8px;
  }

  &__desc {
    margin-top: 8px;
    color: grey;

    @media all and(max-width:768px) {
      font-size: 14px;
    }
  }

  &__link-wrap {
    margin-top: 40px;
    display: flex;
  }

  &__link {
    transition: 0.2s;
    cursor: pointer;
    & + & {
      margin-left: 16px;
    }

    &:focus,
    &:hover {
      transform: scale(1.1);
    }
  }

  &__link-icon {
    display: block;
  }

  &__item-img {
  }

  @media all and(max-width:860px) {
    &__item {
      flex-direction: column;

      &:first-child {
        .list {
          &__info {
            width: 100%;
            max-width: 100%;
            margin-right: 0;
          }
        }
      }

      &:nth-child(2) {
        .list {
          &__info {
            width: 100%;
            max-width: 100%;
          }

          &__item-img {
            margin-right: 0;
          }
        }
      }

      &:nth-child(3) {
        margin-top: 40px;
        margin-bottom: 60px;
        .list {
          &__info {
            max-width: 100%;
            width: 100%;
          }

          &__item-img {
            margin-left: 0;
          }
        }
      }
    }

    &__link-wrap {
      justify-content: center;
    }

    &__item-img {
      order: -1;
      margin-bottom: 40px;
    }
  }
}
</style>
