<template>
  <div class="questions">
    <div class="questions__wrap container">
      <p class="questions__title title-l4">Почему выбирают ibazar</p>
      <div class="questions__inner">
        <ul class="questions__list-1">
          <li
            class="questions__list-1-item"
            v-for="(item, index) in list1"
            :key="index"
          >
            <img
              :src="require(`@/assets/img/${item.icon}`)"
              alt=""
              class="questions__1-icon"
            />
            <p class="questions__1-title title-l3">{{ item.title }}</p>
            <p class="questions__1-desc">{{ item.desc }}</p>
          </li>
        </ul>
        <img
          src="@/assets/img/questions-img.png"
          alt=""
          class="questions__main-img"
        />
        <ul class="questions__list-2">
          <li
            class="questions__list-2-item"
            v-for="(item, index) in list2"
            :key="index"
          >
            <img
              :src="require(`@/assets/img/${item.icon}`)"
              alt=""
              class="questions__2-icon"
            />
            <p class="questions__2-title title-l3">{{ item.title }}</p>
            <p class="questions__2-desc">{{ item.desc }}</p>
          </li>
        </ul>
      </div>
      <div class="questions__inner2">
        <ul class="questions__main-list">
          <li
            class="questions__main-item"
            v-for="(item, index) in mainList"
            :key="index"
          >
            <img
              :src="require(`@/assets/img/${item.icon}`)"
              alt=""
              class="questions__main-icon"
            />
            <p class="questions__main-title title-l3">{{ item.title }}</p>
            <p class="questions__main-desc">{{ item.desc }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      list1: [
        {
          icon: "icon1.svg",
          title: "Cвежие продукты",
          desc: "Два раза в день наши сотрудники проверяют срок годности товаров и внешний вид фруктов и овощей. Мы поддерживаем температуру 2–4 °С в холодильниках и -18 °С в морозильных камерах.",
        },
        {
          icon: "icon2.svg",
          title: "Доставка",
          desc: "Наша курьерская служба работает ежедневно без выходных с 8:00 до 24:00 часов. Приятный бонус: наши курьеры всегда надевают бахилы, чтобы сохранить чистоту в вашем доме.",
        },
      ],
      list2: [
        {
          icon: "icon3.svg",
          title: "Цены",
          desc: "Мы выбираем лучшие продукты для вас по самым лучшим ценам",
        },
      ],
    };
  },

  computed: {
    mainList() {
      const list1 = this.list1;
      const list2 = this.list2;

      let result = list1.concat(list2);

      return result;
    },
  },
};
</script>

<style lang="scss">
.questions {
  &__wrap {
    background-image: url(@/assets/img/questions-bg.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    text-align: center;
  }

  &__inner {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__list-1 {
    margin-top: 20px;
    max-width: 30%;
  }

  &__list-1-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &:first-child {
      margin-bottom: 67px;
    }
  }

  &__1-icon {
    display: block;
  }

  &__1-title {
    text-align: right;
    margin-top: 16px;
  }

  &__1-desc {
    text-align: right;
    margin-top: 4px;
    font-size: 16px;
    color: grey;
  }

  &__main-img {
    margin-left: 70px;
    margin-right: 70px;
  }

  &__list-2 {
    margin-top: 20px;
    max-width: 30%;
  }

  &__list-2-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:first-child {
      margin-bottom: 67px;
    }
  }

  &__2-icon {
    display: block;
  }

  &__2-title {
    margin-top: 16px;
  }

  &__2-desc {
    margin-top: 4px;
    font-size: 16px;
    color: grey;
  }

  &__inner2 {
    display: none;
    margin-top: 40px;
  }

  &__main-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -30px;
  }

  &__main-item {
    width: 640px;
    margin-left: 30px;
    flex-grow: 1;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__main-icon {
    display: block;
  }

  &__main-title {
    margin-top: 16px;
  }

  &__main-desc {
    margin-top: 4px;
    font-size: 16px;
    color: grey;
  }

  @media all and(max-width:1200px) {
    &__wrap {
      background-image: url(@/assets/img/questions-mobile-bg.png);
      background-position: bottom;
    }

    &__inner {
      display: none;
    }

    &__inner2 {
      display: block;
    }
  }

  @media all and(max-width:768px) {
    &__wrap {
      background-position: center;
    }
  }
}
</style>
