<template>
  <div class="home">
    <Hero />
    <List />
    <Questions />
    <Footer />
  </div>
</template>

<script>
import Hero from "@/components/Hero";
import List from "@/components/List";
import Questions from "@/components/Questions";
import Footer from "@/components/Footer";

export default {
  components: {
    Hero,
    List,
    Questions,
    Footer,
  },
};
</script>
