<template>
  <div class="policy">
    <div class="policy__wrap container">
      <nuxt-link to="/" class="policy__back">Главная</nuxt-link>
      <div class="policy__desc">
        <h1 class="policy__title">Правила оплаты платежными картами</h1>
        <div class="policy__text">
          Оплата безналичным расчетом производится согласно оформленному счёту в
          течение 3 (трёх) рабочих дней с даты выставления такого счёта. После
          поступления денежных средств на счет Интернет-магазина, специалист
          Интернет-магазина согласовывает с Покупателем срок доставки. При
          безналичной форме оплаты обязанность Покупателя по уплате цены заказа
          считается исполненной с момента зачисления соответствующих денежных
          средств на расчетный счет, указанный Интернет-магазином. <br />
          <br />
          Безопасность онлайн платежей<br />
          <br />
          Предоставляемая Вами персональная информация (e-mail, номер банковской
          карты) является конфиденциальной и не подлежит разглашению. Данные
          Вашей банковской карты передаются только в зашифрованном виде и не
          сохраняются на нашем сервере.
          <br />
          <br />
          Безопасность обработки Интернет-платежей гарантирует платёжный сервис
          JetPay. Все операции с платежными картами происходят в соответствии с
          требованиями VISA International, MasterCard Worldwide и другими
          платежными системами. При передаче информации используется специальные
          технологии безопасности карточных онлайн-платежей, обработка данных
          ведется на безопасном высокотехнологичном сервере платёжного сервиса.
          <br />
          <br />
          Оплата платежными картами безопасна, потому что:
          <br />
          <br />

          • Система авторизации гарантирует покупателю, что платежные реквизиты
          его платежной карты (номер, срок действия, CVV2/CVC2) не попадут в
          руки мошенников, так как эти данные не хранятся на сервере в
          зашифрованном виде и не могут быть похищены.

          <br />
          <br />
          • Покупатель вводит свои платежные данные непосредственно в системе
          авторизации JetPay, а не на сайте интернет-магазина, следовательно,
          платежные реквизиты карточки покупателя не будут доступны третьим
          лицам. <br /><br />

          <!-- <img src="@/assets/img/document.png" alt="" class="policy__img" /> -->
        </div>
      </div>

      <p class="policy__note">Сделано с 💚</p>
      <p class="policy__note2">Все права защищены, 2022</p>
    </div>
  </div>
</template>

<script>
export default {};
</script>
<style lang="scss">
.policy {
  &__wrap {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__img {
    display: block;
    margin: 0 auto;
  }

  &__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
  }

  &__back {
    cursor: pointer;
    transition: 0.2s;
    color: #000;

    &:hover,
    &:focus {
      color: #0dc046;
    }
  }

  &__text {
    font-size: 20px;
  }

  &__desc {
    margin-top: 20px;
  }

  &__note {
    text-align: center;
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
  }

  &__note2 {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
  }
}
</style>
