<template>
  <div class="policy">
    <div class="policy__wrap container">
      <nuxt-link to="/" class="policy__back">Главная</nuxt-link>
      <div class="policy__desc">
        <h1 class="policy__title">Политика конфиденциальности</h1>
        <p class="policy__text">
          Индивидуальный предприниматель “Алиша” собственник приложения iBazar
          уважает и защищает конфиденциальность всех пользователей, которые
          пользуются сервисом. Чтобы предоставить вам более точные и
          персонализированные услуги, iBazar будет использовать и раскрывать
          вашу личную информацию в соответствии с положениями настоящей политики
          конфиденциальности. Тем не менее, iBazar будет относиться к этой
          информации с высокой степенью усердия и осторожности. Если иное не
          предусмотрено настоящей Политикой конфиденциальности, iBazar не будет
          разглашать эту информацию или предоставлять ее третьим лицам без
          вашего предварительного разрешения. Приложение iBazar будет время от
          времени обновлять эту политику конфиденциальности. Когда вы
          соглашаетесь с соглашением об использовании услуг iBazar, считается,
          что вы согласились со всем содержанием этой политики
          конфиденциальности. Данная политика конфиденциальности является
          неотъемлемой частью соглашения об использовании услуг iBazar. <br />
          <br />
          1. Сфера применения <br />
          <br />
          а) Когда вы регистрируете учетную запись IBazar, личную
          регистрационную информацию вы предоставляете в соответствии с
          требованиями iBazar; <br />
          <br />
          b) Когда вы используете веб-сервис IBazar или посещаете веб-страницу
          платформы IBazar, приложение IBazar автоматически получает и
          записывает информацию в ваш браузер и компьютер, включая, помимо
          прочего, ваш IP-адрес, тип браузера, использование Данные, такие как
          язык, дата и время доступа, информация о программных и аппаратных
          функциях и требуемые записи вебстраниц; <br />
          <br />
          c) IBazar Персональные данные пользователя, полученные от деловых
          партнеров по легальным каналам. Вы понимаете и соглашаетесь с тем, что
          следующая информация не относится к данной политике
          конфиденциальности: <br />
          <br />
          а) информация о ключевых словах, которую вы вводите при использовании
          службы поиска, предоставляемой платформой iBazar; <br />
          <br />
          b) соответствующая информация и данные, собранные приложением iBazar,
          которые вы опубликовали в приложении iBazar, включая, помимо прочего,
          участие в мероприятиях, информацию о транзакциях и детали оценки;
          <br />
          <br />
          c) Действия, которые нарушают закон или нарушают правила IBazar и
          меры, принятые IBazar против вас. <br />
          <br />
          2. Использование информации <br />
          <br />
          a) iBazar не будет предоставлять, продавать, сдавать в аренду,
          делиться или обменивать вашу личную информацию с любой третьей
          стороной, если вы заранее не получили своего разрешения, или если
          третье лицо и iBazar (включая филиалы iBazar) являются единоличными
          или совместно Вы предоставляете услугу, и после ее окончания доступ к
          всем этим материалам, включая его предыдущий доступ, будет закрыт.
          <br />
          <br />
          б) Приложение iBazar не позволяет третьим лицам собирать,
          редактировать, продавать или распространять вашу личную информацию
          любым способом. Если какой-либо пользователь платформы iBazar
          принимает участие в вышеуказанных действиях, после его обнаружения
          iBazar имеет право немедленно расторгнуть соглашение об обслуживании с
          этим пользователем. <br />
          <br />
          c) В целях обслуживания пользователей iBazar может использовать вашу
          личную информацию для предоставления вам интересующей вас информации,
          включая, помимо прочего, отправку вам информации о продуктах и услугах
          или обмен информацией с партнерами IBazar, чтобы они могли Вы
          отправляете информацию о своих продуктах и услугах (последний требует
          вашего предварительного согласия). <br />
          <br />
          3. Раскрытие информации При следующих обстоятельствах iBazar будет
          раскрывать вашу личную информацию полностью или частично в
          соответствии с вашими личными пожеланиями или требованиями
          законодательства: <br />
          <br />
          а) разглашается третьим лицам с вашего предварительного согласия;
          <br />
          <br />
          б) для предоставления запрошенных вами продуктов и услуг вы должны
          передать свою личную информацию третьим лицам; <br />
          <br />
          c) раскрытие третьим лицам или административным или судебным
          учреждениям согласно соответствующим положениям закона или требованиям
          административных или судебных учреждений; <br /><br />
          d) Если вы нарушаете соответствующие китайские законы, нормативные
          акты или соглашение об обслуживании iBazar или соответствующие
          правила, вы должны сообщить об этом третьим лицам; <br />
          <br />
          e) Если вы являетесь компетентным заявителем в области
          интеллектуальной собственности и подали жалобу, вы должны сообщить об
          этом респонденту по запросу респондента, чтобы обе стороны могли
          разрешить возможные споры о правах; <br />
          <br />
          f) В транзакции, созданной на платформе iBazar, если какая-либо
          сторона в транзакции выполняет или частично выполняет свои
          обязательства по транзакции и запросы на раскрытие информации, iBazar
          оставляет за собой право предоставить пользователю необходимую
          информацию, такую как контактная информация контрагента по транзакции.
          Для облегчения завершения сделки или разрешения спора. <br />
          <br />
          g) Другие раскрытия, которые iBazar считает целесообразными в
          соответствии с законами, правилами или политикой мобильного
          приложения. <br />
          <br />
          4. Хранение и обмен информацией Информация и материалы, собранные
          iBazar о вас, будут храниться на серверах I Bazar и / или ее филиалов.
          Такая информация и материалы могут передаваться в вашу страну, регион
          или за пределы места, где iBazar собирает информацию и данные. Доступ,
          хранение и отображение за рубежом. <br />
          <br />
          5. Использование Cookies <br />
          <br />
          a) Если вы не отказываетесь от принятия файлов cookie, приложение
          IBazar установит или получит доступ к файлам cookie на вашем
          компьютере. Чтобы вы могли войти в систему или использовать сервисы
          или функции платформы iBazar, использующие файлы cookie. Приложение
          iBazar использует файлы cookie для предоставления вам более
          продуманных персонализированных услуг, включая рекламные услуги.
          <br />
          <br />
          б) Вы имеете право принять или отклонить файлы cookie. Вы можете
          отказаться принимать куки, изменив настройки браузера. Однако если вы
          решите отказаться от файлов cookie, вы не сможете войти в систему или
          использовать веб-службы IBazar или функции, использующие файлы cookie.
          <br />
          <br />
          c) Соответствующая информация, полученная с помощью файлов cookie,
          установленных iBazar, будет применять эту политику.

          <br />
          <br />
          6. Информационная безопасность <br />
          <br />
          a) Учетная запись iBazar имеет функцию защиты, пожалуйста, сохраните
          правильное имя пользователя и пароль. Приложение IBazar гарантирует,
          что ваша информация не будет потеряна, использована не по назначению и
          не будет изменена с помощью мер безопасности, таких как шифрование
          паролей пользователей. Несмотря на вышеупомянутые меры безопасности,
          обратите также внимание, что в информационной сети не существует
          «идеальных мер безопасности». <br />
          <br />
          б) При использовании сетевого сервиса iBazar для онлайн-транзакций вы
          должны неизбежно раскрыть свою личную информацию, такую как контактная
          информация или почтовый адрес, контрагенту или потенциальному
          контрагенту. Пожалуйста, защищайте свою личную информацию и
          предоставляйте ее другим только при необходимости. Если вы обнаружите,
          что ваша личная информация была утечка, особенно имя пользователя и
          пароль iBazar утекли, пожалуйста, немедленно свяжитесь со службой
          поддержки iBazar, чтобы iBazar мог принять соответствующие меры.
        </p>
      </div>

      <p class="policy__note">Сделано с 💚</p>
      <p class="policy__note2">Все права защищены, 2022</p>
    </div>
  </div>
</template>

<script>
export default {};
</script>
<style lang="scss">
.policy {
  &__wrap {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__back {
    cursor: pointer;
    transition: 0.2s;
    color: #000;

    &:hover,
    &:focus {
      color: #0dc046;
    }
  }

  &__text {
    font-size: 20px;
  }

  &__desc {
    margin-top: 20px;
  }

  &__note {
    text-align: center;
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
  }

  &__note2 {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
  }
}
</style>
