<template>
  <div class="policy">
    <div class="policy__wrap container">
      <nuxt-link to="/" class="policy__back">Главная</nuxt-link>
      <div class="policy__desc">
        <h1 class="policy__title">Публичная оферта</h1>
        <p class="policy__title">1. Общие положения</p>
        <div class="policy__text">
          1.1. ИП “Алиша” в лице директора Агеевой Алиши Рустамовны, действующей
          на основании талона, именуемое в дальнейшем «Агент», размещает
          настоящую Публичную оферту о заказе с последующей доставкой товаров
          повседневного спроса в Мобильном приложении iBazar (далее — мобильное
          приложение).<br />
          <br />
          1.2. В соответствии со ст. 387 и 389 Гражданского кодекса Республики
          Казахстан (далее — ГК) данный документ является публичной офертой, и в
          случае принятия изложенных в ней условий физическое лицо, производящее
          акцепт этой оферты, осуществляет оплату Товара и его доставки в
          соответствии с условиями настоящей оферты.<br />
          <br />
          1.2.1. В соответствии с пунктом 3 статьи 396 ГК, отправка Покупателем
          поручения соответствующему Агенту на закупку для Покупателя товаров
          повседневного спроса в выбранном Покупателем магазине (далее — Заказ)
          является Акцептом<br />
          <br />
          1.2.2. Формирование корзины на Мобильном приложении с последующим
          оформлением Заказа является согласием Покупателя с условиями оферты, а
          также согласием принять и оплатить заказанные через соответствующего
          Агента товары повседневного спроса, а также оплатить стоимость
          доставки данных товаров повседневного спроса соответствующему Агенту,
          доставившему Заказ на условиях, изложенных в оферте.<br />
          <br />
          1.3. Внимательно ознакомьтесь с текстом публичной оферты и, если
          вы не согласны с каким-либо условием, не формируйте заказ на Мобильном
          приложении. <br />
          <br />
          1.4. В настоящей оферте используются следующие термины и определения:
          <br />
          <br />
          «Покупатель» — физическое или юридическое лицо, заключившее с Агентом
          Договор на нижеуказанных условиях; «Агент» — юридическое лицо, через
          которого Покупатель осуществляет заказ (покупку) товаров повседневного
          спроса в выбранном Покупателем магазине и который доставляет заказ
          Покупателю; <br />
          «iBazar» — интернет-магазин, включающий в себя мобильное приложение
          iBazar для устройств на платформе iOS и мобильное приложение iBazar
          для устройств на платформе Android. <br />
          «Оферта» — публичное предложение соответствующего Агента, адресованное
          любому физическому лицу (гражданину Республики Казахстан) и
          юридическому лицу, заключить с Агентом агентский договор (далее —
          Договор), по которому на существующих условиях по заказу Покупателя
          соответствующий Агент закупает и доставляет товары повседневного
          спроса из выбранного Покупателем магазина; <br />
          «Акцепт» — полное и безоговорочное принятие Покупателем условий
          Договора; <br />
          «Товар» — перечень товаров повседневного спроса, выбранный
          Покупателем; <br />
          «Заказ» — отдельные позиции из ассортиментного перечня товаров
          повседневного спроса, указанные Покупателем при оформлении заявки на
          мобильном приложении iBazar; <br />
          «Доставка» — курьерские услуги соответствующего Агента по доставке
          заказа Покупателю из выбранного Покупателем магазина; <br />
          «Электронная платежная система» — перечисление денежных средств за
          Товар и его доставку на банковскую карту соответствующего Агента.
          <br />
          «Сервис онлайн-оплаты Товара» — прикрепление в личном кабинете
          платежной банковской карты Покупателя к учетной записи Покупателя в
          мобильном приложении iBazar для совершения онлайн-оплаты Товара и его
          доставки. <br />
          «Онлайн-оплата Товара» — оплата Товара в момент его фактической
          передачи Покупателю без предоставления курьеру банковской карты либо
          использования наличных денежных средств. <br />
          «Фактическая стоимость» — стоимость Заказа, рассчитанная исходя из
          веса и цены позиций на момент начала осуществления доставки
          Покупателю.
          <br />
          <br />
          <p class="policy__title">2. Предмет Договора</p>
          2.1. Покупатель осуществляет заказ (покупку) товаров путем оформления
          заказа на Мобильном приложении, с последующей оплатой стоимости
          заказанного Товара и его доставки. <br />
          <br />
          2.2. Настоящий Договор и приложения к нему являются официальными
          документами ТОО «iBazaR» и неотъемлемой частью оферты. <br />
          <br /><br />

          <p class="policy__title">3. Оформление Заказа</p>

          3.1. Заказ Товара осуществляется Покупателем через мобильное
          приложение. При регистрации в Мобильном приложении Покупатель
          обязуется предоставить следующие данные о себе:
          <br />
          — имя; <br />
          — дата рождения; <br />
          — реквизиты юридического лица (в случае, когда Покупатель является
          юридическим лицом); <br />
          — фактический адрес доставки; <br />
          — адрес электронной почты; <br />
          — контактный телефон. <br />
          Покупатель выражает свое согласие на обработку персональных данных
          Агентом, на отражение персональных данных на странице Покупателя
          в личном кабинете. Целью обработки персональных данных, согласно
          настоящему пункту, является исполнение Агентом условий настоящего
          Договора. В целях данного пункта под обработкой персональных данных
          понимается: сбор, систематизация, накопление, хранение, использование,
          рассылка электронных писем и SMS-сообщений, информирование об акциях
          и иные действия, необходимые для исполнения настоящего Договора. Агент
          обязуется принимать необходимые и достаточные меры для защиты
          персональной информации Покупателя от неправомерного или случайного
          доступа, уничтожения, изменения, блокирования, копирования,
          распространения, а также от иных неправомерных действий с ней третьих
          лиц.

          <br />
          <br />
          3.2. Агент не несет ответственности за содержание и достоверность
          информации, предоставленной Покупателем при оформлении Заказа. Данную
          ответственность несет Покупатель. <br />
          <br />
          3.3. Формирование корзины в Мобильном приложении с последующим
          оформлением заказа означает согласие Покупателя с условиями настоящего
          Договора. Момент оформления Заказа является датой заключения Договора
          между Агентом и Покупателем. Оформляя заказ, Покупатель одновременно
          соглашается на условия соответствующего Агента по доставке Заказа
          и его оплате. <br />
          <br />
          3.4. Вся информация, размещенная на Мобильном приложении, носит
          справочный характер и может не в полной мере передавать достоверную
          информацию об определенных свойствах и характеристиках заказываемого
          Товара, но в обязательном порядке данная размещаемая информация будет
          систематически актуализироваться для полного соответствия размещаемой
          информации данным о Товаре, представленным в выбранном Покупателем
          магазине. <br />
          <br />
          3.5. Агент в любое время без предварительного и последующего
          уведомления Покупателя имеет право на изменение, дополнение данного
          Договора. Любые изменения, дополнения вступают в силу по истечении 5
          (пяти) календарных дней с момента размещения данной информации
          на Мобильном приложении.
          <br />
          <br />
          <p class="policy__title">4. Прием и возврат товара</p>

          4.1. В соответствии с условиями настоящего Договора Покупатель вправе:
          <br />
          <br />
          4.1.1. Отказаться от заказанного Товара или его части в любое время
          до передачи Товара Покупателю (то есть до момента фактической
          доставки, оплаты Товара и стоимости его доставки).<br /><br />
          4.1.2. Отказаться от заказанного Товара после его передачи в течение
          24 (двадцати четырех) часов с момента его получения и возвратить либо
          обменять Товар в случае обнаружения недостатков Товара по качеству,
          предварительно уведомив Агента по телефонам или электронной почте,
          указанным в п. 9 настоящего Договора, о выявленных недостатках
          качества Товара.
          <br />
          <br />
          4.2. Возврат денежных средств на банковскую карту, согласно условиям
          банков Агента и Покупателя, происходит в течение 3–10 рабочих дней.<br />
          <br />
          <p class="policy__title">5. Условия доставки</p>

          5.1. Агент осуществляет доставку Товара на основании заказа
          от Покупателя, оформленного Покупателем на Мобильном приложении.
          <br />
          <br />
          5.2. Доставка Товара осуществляется за счет Покупателя. Стоимость
          доставки формируется в момент оформления заказа. <br />
          <br />
          5.3. Право собственности на заказанный Товар, а также риск случайной
          утраты (гибели) или повреждения Товара переходит от Агента
          к Покупателю в момент передачи Товара Покупателю.<br />
          <br />
          5.4. Покупателю в момент доставки Товара должна быть в письменной
          форме предоставлена информация о Товаре, предусмотренная статьей 10
          Закона РК «О защите прав потребителей» (данная информация содержится
          на этикетках заказанного Товара).<br />
          <br />
          <p class="policy__title">6. Порядок, цена и сроки расчетов</p>

          6.1. Оплата Товара и его доставки производится Покупателем в тенге
          путем перечисления денежных средств на счет Агента при помощи
          электронных платежных систем через Сервис онлайн-оплаты Товара,
          наличным или безналичным расчетом при получении Товара в момент
          доставки или банковским переводом, в случае, если Покупатель —
          юридическое лицо.
          <br />
          <br />
          Клиент дает Агенту разрешение на безакцептное списание Фактической
          стоимости заказа и стоимости доставки с прикрепленной банковской
          карты.
          <br />
          <br />
          6.2. Обязательства Покупателя по оплате Товара и его доставки
          считаются исполненными с момента поступления денежных средств на счет
          Агента, либо получение денежных средств курьером, доставляющим Товар.
          <br />
          <br />
          6.3. Расчеты между Агентом и исполнителем осуществляются на основании
          заключенного между ними договора и не являются предметом регулирования
          публичной оферты. Стоимость доставки включена в итоговую стоимость
          Заказа. <br />
          <br />

          <p class="policy__title">7. Акции и специальные предложения</p>

          7.1. Все условия проводимых акций и специальных предложений для
          Покупателей, прописываются на Мобильном приложении.

          <br /><br />
          7.2. Нажимая кнопку «Оформить заказ» при формировании корзины,
          Покупатель соглашается с условиями акций, размещенных на Мобильном
          приложении.

          <br /><br />
          7.3. Оставляя свои контактные данные при оформлении заказа — номер
          телефона и электронную почту — Покупатель соглашается на рассылку
          информационных сообщений посредством SMS-сообщений, Push-уведомлений
          и писем на электронный ящик. <br /><br />

          <p class="policy__title">8. Личная и конфиденциальная информация</p>
          8.1. К личной и конфиденциальной информации Покупателя относятся: имя,
          дата рождения, фактический адрес доставки, контактный телефон, адрес
          электронной почты и данные об оплате.
          <br /><br />
          8.2. Сайт может собирать и использовать данные только для работы или
          в целях улучшения приложения.
          <br /><br />
          <p class="policy__title">9. Ответственность Сторон</p>
          9.1. За неисполнение или ненадлежащее исполнение обязательств
          по настоящему Договору Стороны несут ответственность в соответствии
          с действующим законодательством Республики Казахстан. <br /><br />
          9.2. Агент вправе передавать свои права и обязанности по исполнению
          Заказов третьим лицам. <br /><br />
          9.3. Претензионный порядок досудебного урегулирования споров
          обязателен. Все претензии по ненадлежащему исполнению заказа
          Покупатель вправе направить на адрес электронной почты
          bazar.app@yandex.kz . Претензия должна включать конкретный перечень
          нарушений со стороны Агента, номер и дату Заказа, контактные данные
          и подпись Покупателя, направившего претензию. Несоблюдение формы или
          содержания претензии влечет отказ в ее рассмотрении по существу.
          <br /><br />
          9.4. В случае, если спор не удается урегулировать в претензионном
          порядке, спор может быть передан любой заинтересованной стороной в суд
          общей юрисдикции по месту нахождения Агента. <br />
          <br />
          <p class="policy__title">10. Срок действия Договора</p>
          10.1. Настоящий Договор вступает в силу с момента оформления заказа
          и действует до полного исполнения Сторонами принятых на себя
          обязательств. В случае возникновения вопросов, Покупатель может
          обратиться по +77788888608 или по электронной почте
          bazar.app@yandex.kz . <br /><br />
          <p class="policy__title">11. Реквизиты компании</p>
          Название компании: ИП «Алиша» <br />
          <br />
          БИН: 040318600085 <br />
          <br />
          Юр. адрес: РК, г. Алматы, Райымбек 211 <br />
          <br />
          Банковские реквизиты: АО "Kaspi Bank" <br />
          <br />

          ИИК: KZ51722S000018173329 <br />
          <br />
          БИК: CASPKZKA <br />
          <br />
          Директов: Агеев А. Р.
        </div>
      </div>

      <p class="policy__note">Сделано с 💚</p>
      <p class="policy__note2">Все права защищены, 2022</p>
    </div>
  </div>
</template>

<script>
export default {};
</script>
<style lang="scss">
.policy {
  &__wrap {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
  }

  &__back {
    cursor: pointer;
    transition: 0.2s;
    color: #000;

    &:hover,
    &:focus {
      color: #0dc046;
    }
  }

  &__text {
    font-size: 20px;
  }

  &__desc {
    margin-top: 20px;
  }

  &__note {
    text-align: center;
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
  }

  &__note2 {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
  }
}
</style>
