$max-width: 1340px;
$padding: 50px;
$padding-s: 16px;

.container {
  max-width: #{$max-width + $padding * 2};
  margin: 0 auto;
  padding: 0 $padding;

  @media all and (max-width: 768px) {
    max-width: #{$max-width + $padding-s * 2};
    padding: 0 $padding-s;
  }
}
