@font-face {
  font-family: "Gilroy";
  src: url("@/assets/fonts/Gilroy-Regular.woff2") format("woff2"),
    url("@/assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("@/assets/fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("@/assets/fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFPro";
  src: url("@/assets/fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("@/assets/fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
