.title-l1 {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  color: #0dc046;
  font-size: 48px;

  @media all and(max-width:768px) {
    font-size: 32px;
  }
}

.title-l2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 36px;

  @media all and(max-width:768px) {
    font-size: 20px;
  }
}

.title-l3 {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 24px;

  @media all and(max-width:768px) {
    font-size: 20px;
  }
}

.title-l4 {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 36px;

  @media all and(max-width:768px) {
    font-size: 24px;
  }
}
